/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
:root
{
    --main-color:#0aad0a;
    --light-color:#f0f3f2;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family:'Encode Sans Expanded', sans-serif;
    --rating-color:#ffc908;
}

body{
    font-family: var(--font-family) !important;
}
.rating-color
{
    color: var(--rating-color);
}
.cursor-pointer
{
    cursor: pointer;
}
a , a:hover{
    color: black;
    text-decoration: none;
}
.product:hover
{
    box-shadow: var(--shadow);
    border: solid 1px var(--main-color);
}
.product .btn 
{
    transition: transform 1s , opacity 1s;
    transform: translateY(100%);
    opacity: 0;
}
.product:hover .btn 
{
    opacity: 1;
    transform: translateY(0%);

}
.font-sm
{
    font-size: 14px;
}
.text-main
{
    color: var(--main-color);
}
.bg-main
{
    background-color: var(--main-color) !important;
}
.bg-main-light 
{
    background-color: var(--light-color) !important;
}

.slick-next:before, .slick-prev:before{
    color: black !important;
}
.network{
    background-color: #fff;
    position: fixed;
    bottom: 30px;
    left: 30px;
    box-shadow: var(--shadow);
    border-radius: 5px;
    border: 1px solid var(--rating-color);
    padding: 10px 20px;
}
.brdr-main{
    border: 1px solid var(--main-color);
    
}
.cartDiv{
    width: 22px;
    height: 20px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 6px;
    top: 0;
    left: 40%;
    font-size: 14px;
}
.icon{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid rgb(86, 91, 91);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.icon i{
    font-size: 20px;
}
.layout{
    min-height: 75vh;
}
.heartIcon{
    font-size: 25px;
    opacity: 0;
    transition: 1s all;
    transform: translateX(100%);
    position: absolute;
    top: 67%;
    right: 2%;
}
.product:hover .heartIcon 
{
    opacity: 1;
    transform: translateY(0%);
    top: 67%;
    right: 10%;
}
.color-red{
    color: red;
}